@import 'tailwindcss';

@layer utilities {
    .clip-triangle-inverted {
        clip-path: polygon( 0 0, 100% 0, 50% 100% );
        /* box-shadow: 100px 10px 30px rgba(0, 0, 0, 0.4); */
    }

    /* .clip-heart {
        
    } */
    p {
        margin-bottom: 10px;
    }
}